#drum-machine {
  display: inline-flex;
  background-color: hsl(0, 0%, 45%);
  padding: 24px;
  border: outset 4px black;  
}

.drum-bay {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 5px;
  margin-right: 16px;
}


