.display-bay {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 65%);
    border-radius: 2px;
    border: inset 4px black;
  }

#display {
    padding: 8px;
    border-radius: 2px;
    background: white;
    width: 65%;
    height: 25px;
    line-height: 25px;
}