.drum-pad {
    font-size: 1.5em;
    border:none;
    background-color: orange;
    border-radius: 5px;
}

.drum-pad:active {
    animation: blink 1s;
}

@keyframes blink {
    0% {
        background-color: blue;
    }
    50% {
        background-color: orange;
    }
    100% {
        background-color: blue;
    }
}